.todo-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

.delete-btn:hover,
.edit-btn:hover {
  cursor: pointer;
  transform: scale(1.035);
}
